html{
  height: auto;
}

body {
  height: auto;
  padding: 40px 0;

  background-image: url('../img/awe-background.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  font-family: 'Roboto Slab', Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: center;
}
p{
  margin: 30px 0 0 0;
  color: #555759;
  font-family: 'Roboto Slab', Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

h1{
  margin: 10px 0 0 0;
  color: #555759;
  font-family: 'Roboto Slab', Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
}

h2{
  margin: 40px 0 10px 0;
  color: #555759;
  font-family: 'Oswald', Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 7px;
}

h3{
  margin: 0;
  color: #4d4845;
  font-family: 'Oswald', Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 29px;
  line-height: 40px;
}

h4{
  margin: 0;
  color: #555759;
  font-family: 'Oswald', Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 29px;
  line-height: 40px;
}

h5{
  margin: 34px 0 24px 0;
  color: #555759;
  font-family: 'Oswald', Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
}

h6{

}

button, .button {
  margin: 30px 0 0 0;
  padding-right: 20px;
  padding-left: 20px;
  font-family: 'Oswald', Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 7px;
}

.red{
  color: #bd272b;
}

sup{
  font-size: 18px;
}

.row.banner{
  margin: 30px auto 0 auto;
  padding: 36px 0 40px 0;
  background: #f1f2f2;

  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}
